#adminPage{
  background:none
}
.sidebar{
  top:0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  position: fixed;
  border: 1px solid gray;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 999;
}



#test{
  margin: 400px;
}