#theaters{
    position: relative;
    height: auto;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    padding:20px
}
#theaters ul{ 
    justify-content: center;
}
#theaters .theaters-logo{
    width: 70px;
    height: 70px;
}
#theaters ul li{
    padding: 0 30px
}

#theaters .tab-content{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 900px;
    margin: 30px 0 30px 0;
    height: auto; 
    overflow: auto;
    border: 1px solid gray;
    background-color: rgb(38, 42, 51); 
}

#theaters .tab-content .tablePhim{   
    display: block;
    height: 350px;
    
}

.list{
  width: 101%;
}
.rap{  
    border-right: 1.5px dashed grey;
    border-bottom: 1.5px dashed grey;
    justify-items: center;   
    padding: 10px 0 0 30px;
}
.rap p{
    font-size: 12px;
}

.phim{
    overflow: auto;
    height: 110px;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 0.5px solid gray;
}

@media screen and (max-width:992px){
    #theaters .tab-content{
        width: 100%;
        margin: 30px 0 60px 0;
        /* height: 555px;  */
        overflow: auto;
    }
    .list{
       width: 102%;
     }
     .rap{   
        padding: 10px 0 0 30px;
    }   
    #theaters .theaters-logo{
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:768px){
    #theaters .tab-content{
    
        width: 100%;
        margin: 30px 0 50px 0;
        /* height: 555px;  */
        overflow: auto;
    }
    .list{
       width: 103%;
     }
     .rap{  
        padding: 10px 0 0 30px;
    }
    .rap p{
        font-size: 10px;
    }
    #theaters .theaters-logo{
        width: 50px;
        height: 50px;
    }
    
}
@media screen and (max-width:512px){
    #theaters .tab-content{
        width: 100%;
        margin: 30px 0 40px 0;
        /* height: 555px;  */
        overflow: auto;
    }
    .list{
       width: 103%;
     }
     .rap{  
        padding: 10px 0 0 30px;
    }
    .rap p{
        font-size: 8px;
    }
    .phim{
        width: 100%
    }
    #theaters .theaters-logo{
        width: 40px;
        height: 40px;
    }
}