#listMovie{
    margin:60px 0 0 0
}
.listMovie-titile{
    text-align: center;
    margin-bottom:30px
}
.myCard{
    position: relative;
    margin: 15% ,0;
    align-items: center
}
.card{
    align-items: center;
    background: none;
    border:none;
}

.myCard img{
    border-radius: 5%;
    height: 339px;
    transition: all 0.5s
}
.myCard-content p{
    text-align: center;
    /* margin-top:5px; */
    font-size: 12px;
}
.myCard-info{
    position: relative;
    opacity: 0;
    text-align: center;
    transition: all 0.4s;
}
.myCard:hover img{
    background-color: rgba(0,0,0,0.5);
    opacity: 0.3;
}
.myCard:hover p{
    display: none
}
.myCard:hover .myCard-info{
    opacity: 1;
}
.myCard-info button{
    background-color: #23b0c0;
    color: #fff;
    border-radius: 5px;
    padding: 7px;
    width: 210px;
}