.modal-backdrop {
    position: relative;
    /* top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000; */
}
.modal-header, .modal-body{
    /* background: url("http://bgfons.com/uploads/cloth/cloth_texture1068.jpg"); */
    background-color: #1E212A;
}
.modalBtn:focus,
.modalBtn:hover,
.modalBtn:active{
    background: #0084ff;
}