#detailMovie{
    position:relative;
}

.detail{
    margin:100px 0 40px 0
}
#detailMovie .detail{
    background: url("../../../img/nightskyjpg.jpg");
    background-size:cover ;
}
.detail-img img{
    width: 100%;
    height: 100%;
    opacity:1;
}
.rating{
   color: orange;
}
.detail .hinhAnhPhim{
    text-align: center;  
    transition: all,0.3s
}

#detailMovie .hinhAnhPhim i{
    display: none;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: none;
    box-shadow: none;
    font-size: 3rem;
}
#detailMovie .hinhAnhPhim:hover i{
    display: block;
    opacity: 1;
}
#detailMovie .hinhAnhPhim:hover img{
    opacity: 0.7;
}
#detailMovie-desc{
    margin-top:2.5rem;
    letter-spacing: 1.3px
}
.trailer iframe{
    width:768px;
    height:512px;
}
@media screen and (max-width: 992px){
#detailMovie-desc h1{
    font-size: 1.7rem;
}
#detailMovie-desc p{
    font-size: 0.9rem;
}
.trailer iframe{
    width:470px;
    height:330px;
}
}
@media screen and (max-width:768px){
    #detailMovie-img img{
        width: 60%;
        height: 60%;
    }
    #detailMovie-desc{
        margin-top: 1rem;
    }
    #trailer iframe{
        width:460px;
        height:300px;
    }
}